:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.Header {
  text-align: center;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}